.link-item {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.link-item:hover {
    background-color: gainsboro;
}
span {
    font-size: x-small;
    color: sienna;
}
.arrow {
    color: black;
}
.modifiedCount {
    font-size: large;
    
}